/*
    Project: Auction System
*/

body
{
    background-color: #d5d5d5;
}

.email_header
{
    background-color: #ffffff;
    padding: 10pt;
    margin-bottom: 5pt;
}

.email_body
{
    background-color: #627991;
    padding: 10pt;
}

.email_note
{
    margin-top: 10pt;
    color: #66512c;
    font-size: 10pt;
}
