/*
    Project: Microsoft Care Homes 1
*/


html
{
    position: relative;
    min-height: 100%;
}


body
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 100px;
}


hr
{
    border-top: 1px solid #888888;
}


.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

p > a
{
    color: #c0a16b;
    text-decoration: underline;
}


p > a:hover,
p > a:focus
{
    color: #66512c;
    text-decoration: underline;
}

.navbar-text p > a
{
    color: inherit;
    text-decoration: none;
}


.navbar-text p > a:hover,
.navbar-text p > a:focus
{
    color: #337ab7;
}


.nav-tabs  > li > a
{
    margin: 0pt 5pt;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span
{
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

div.inline 
{
  float:left; 
}

caption
{
    color: #000000;
}
