/*
    Project: Auction System
*/

body
{
    background-color: #627991;
}


label
{
    font-weight: normal;
}


.container
{
    padding-top: 15pt;
    padding-bottom: 15pt;
}


.header_container
{
    padding-top: 5pt;
    padding-bottom: 5pt;
}


.navbar
 {
     margin-bottom:  0pt;
 }


.navbar-default
{
    background-color: #ffffff;
}


.navbar-brand
{
    height: auto;
}


.navbar-brand img
{
    height: 55pt;
    width: inherit;
}


.p_registration
{
    font-size: 20px;
}


.valign
{
    display: flex;
    align-items: center;
}


.form-group-lg
{
    margin-bottom: 5pt;
}


.login_input
{
    padding: 3pt;
}


#register_instructions
{
    color: #66512c;
}


#register_icon
{
    font-size:2em;
    margin-bottom: 15pt;
}


#sign_up_button
{
    margin-top: 10pt;
}


#forgotPassword
{
    font-size: 10pt;
}
