/*
    Project: Auction System
*/

body
{
    font-family: 'Roboto', sans-serif;
}


textarea
{
    resize: none;
}


a:focus
{
    outline: 5px auto #54cfa6;
}


.navbar
{
    margin-bottom: 0;
}


.navbar-brand
{
    height: auto;
}


.navbar-brand img
{
    height: 43px;
    width: inherit;
}


.navbar-right
{
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar-left
{
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-top
{
    background-color: #253b52;
    border-bottom: solid 1px #999;
}


.navbar-top-links .dropdown-menu li a,
.dropdown-menu > li > a
{
    padding: 10px 20px;

}


.footer
{
    width: 100%;
    margin-top: 90px;
    bottom: 0;
}


.form-control,
.bootstrap-select > .btn
{
    height:48px;
}


.form-control:focus
{
    border-color: #54cfa6;
}


.bootstrap-select .btn:focus
{
    outline: none !important;
}


.input-group-btn > .btn
{
    height: 48px;
}


.image-preview-input
{
    position: relative;
    overflow: hidden;
    margin: 0px;
    padding: 12px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.image-preview-input input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height:inherit;
}


.image-preview-input-title
{
    margin-left:2px;
}


.page-header
{
    padding-bottom: 20px;
}


.auction-navigation
{
    padding-top: 3px;
}


.panel-body h3
{
    margin-top: 0;
    margin-bottom: 5px;
}


.panel-body hr
{
    margin-top:5px;
}


.p-title
{
    color: #337ab7;
}


.current-bid
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}


.no-bids
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}


.a-list
{
    margin-bottom: 5px;
}


#current-category
{
    color: #54bc91;
}


#search-main
{
    padding-top: 10px;
}


#search-header
{
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: solid 1px #e7e7e7;
    font-size: 15px;
}


#search-total-results
{
    padding-top: 10px;
}


#search-header .dropdown-menu
{
    left: auto;
    right: 0;
}


#search-sort
{
    padding-right: 10px;
}


#scrollable-menu
{
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}