/*
    Project: Auction System
*/

.navbar
{
    margin-bottom: 0;
}


.navbar-brand
{
    height: auto;
}


.navbar-brand img
{
    height: 43px;
    width: inherit;
}


.navbar-right
{
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar-left
{
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-top
{
    background-color: #273646;
    border-bottom: solid 1px #999;
}

.footer
{
    width: 100%;
    margin-top: 90px;
    bottom: 0;
}



